body{
	background-image: url("back.png");
	background-size: cover;
	font-family: "Helvetica Neue",Arial,'Liberation Sans',FreeSans,'Hiragine Sans GB',sans-serif;
	/*设置网页字体，上面每个逗号中间的都代表一种字体 浏览器先查找第一个字体，如果有就用，没有就继续查找后面的*/
}
#header{
	text-align: center;
	font-size:36px;
	font-family: 'Liberation Sans',"Helvetica Neue",Arial,FreeSans,'Hiragine Sans GB',sans-serif;
    height: 60px;
}
#main{
	position: relative;
	background-position: center;
	height: 400px;
	font-size: 8px;
	padding-top: 20px;
}
#chengjiao{
     position: absolute;
     top:300px;
     left:440px;

}
#zhangjing{
     position: absolute;
     top: 150px;
     left:380px;

}
#mutong{
     position: absolute;
     top:10px;
     left:450px;

}
#dudandan{
     position: absolute;
     top:15px;
     left:820px;

}

#heyan{
     position: absolute;
     top:160px;
     left:890px;

}
#maomin{
     position: absolute;
     top:280px;
     left:850px;
}
.imageSize{
	width: 80px;
	height: 80px;
}
#sig{
	font-family: serif;
	position: absolute;
	top:160px;
	left: 70px;
	font-size:8px;
}
#sig h1{
	font-size: 16px;
	color:#9966FF;
}
#signature{
	margin-top: 15px;
	font-size: 18px;
	color: red;
	border-style: solid 1px black;
}
a{
	text-decoration: none;
	font-size: 28px;
}
#wallPicture{
	text-align: center;
}







